flows_x8d4x.local.json
[{"type":"tab","id":"c97248e3.368db8","label":"Sheet 1"},{"id":"62dc6a1.f9d2394","type":"twitter-credentials","screen_name":"@tejasmanohar"},{"id":"7dd23d8b.822dc4","type":"orchestrate"},{"id":"99e8af4e.66175","type":"orchestrate"},{"id":"755f6943.8aa098","type":"twitter in","twitter":"62dc6a1.f9d2394","tags":"New Years","user":"false","name":"tweets","topic":"tweets","x":212,"y":300,"z":"c97248e3.368db8","wires":[["4e6107e8.b19ef8"]]},{"id":"4e6107e8.b19ef8","type":"function","name":"parse tweet","func":"msg = { data: { text: msg.tweet.text } };\nreturn msg;","outputs":1,"x":402,"y":355,"z":"c97248e3.368db8","wires":[[]]},{"id":"4743f0a2.b8bc1","type":"debug","name":"debug msg","active":true,"console":"false","complete":"true","x":404,"y":235,"z":"c97248e3.368db8","wires":[]},{"id":"39f3107f.c60cf","type":"orchestrate out","name":"archive","application":"99e8af4e.66175","collection":"tweets","x":650,"y":298,"z":"c97248e3.368db8","wires":[]}]